.img1{
    text-align: center;
    background:black;
    padding-bottom: 20px;
}
#para1{
    color:white;

}
#crust12{
    padding-top:10px:
}

.formlarge{
    padding:10px;
    display:none;
}
.col-md-4{
    padding-left:20px;
}




.contact{
    text-align: center;
}