.img1{
    text-align: center;
    background:black;
    padding-bottom: 20px;
}
#para1{
    color:white;
}
.paragraph1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    background:lightgray;
}
#paragraph2{
    scroll-padding-top: 20px;

}
#crust12{
    padding-top:10px:
}
.formlarge{
    padding:10px;
    display:none;
}
.formmedium{
    padding:10px;
    display:none;
}
.formsmall{
    padding:10px;
    display:none;
}
#pizzalarge{
    margin-left: 40px;
    margin-top: 20px;
}
#pizzamedium{
    margin-left: 70px;
    margin-top: 60px;
}
#pizzasmall{
    margin-left: 70px;
    margin-top:100px;
}


.contact{
    text-align: center;
}